$baseFontSize: 14;

// pixels to rems
@function r( $px ) {
    @if $px != 0 {
        @return ($px+0.01) / $baseFontSize * 1rem;
    } @else {
        @return 0;
    }
}

// pixels to em
@function em( $px ) {
    @if $px != 0 {
        @return ($px+0.01) / $baseFontSize * 1em;
    } @else {
        @return 0;
    }
}

$color:rgb(85,166,255);

//主色，Icon触发后状态，操作按钮，保险条款等
$baseColor: #12C286;

//首页Icon
$iconColor: #41DAA6;

//错误状态提示
$alertColor: #F85252;

//用于页面空白区域底色
$blankColor: #EEF1F2;

//分割线使用
$borderColor: #E7E7E7;

//内容区域底色
$contentBaseColor: #FFFFFF;

//辅助色
$supportGreen: #52E5B3;     //绿色
$supportNavyBlue: #12A3C2;  //藏青色
$supportBlue: #2894EE;      //蓝色
$supportOrange: #FF9900;    //橘色
$supportRed: #F75E77;       //红色

//用于主要文字，正文标题、类目名称等
$mainTextColor: #282828;

//用于次要文字，正文内容、类目信息等
$secondaryTextColor: #636363;

//用于辅助说明文字，说明性文档等
$supportTextColor: #999999;

//用于输入性内容的提示文字
$hintTextColor: #CCCCCC;

$red:red;

//字体
$fontFamily: Helvetica,Arial,sans-serif;

//重要--用于标题
$mainTitleSize: 20;

//重要--用于少数重要标题，按钮
$mainBtnSize: 18;

//一般--用于正文内容
$normalSize: 16;

//弱--首页板块标题文字
$lessTitleSize: 14;

//弱--用于少数重要标题，按钮
$lessBtnSize: 12;
